<section class="vn-about img main-section vn-no-pb" id="about-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center vn-animate">
        <h1 class="big big-2">About US</h1>
        <h2 class="mb-4">About Us</h2>
        <p>We are a company consisting of very smart team members, trying to fill the gap in Tech areas of Country.</p>
      </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resume-wrap vn-animate">
                    <span class="date">OUR MISSION</span>
                    <h2>Providing Latest Tech For You</h2>
                    <span class="position">To Get You Touch The Smart World</span>
                    <p class="mt-4">
                        We strive for a prosperous World through digitalization, linking, and meeting technology needs.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="resume-wrap vn-animate">
                    <span class="date">OUR VISION</span>
                    <h2>Smart And Connected World</h2>
                    <span class="position">You Trust Us</span>
                    <p class="mt-4">
                        We consider technology and telecommunication to be very important element for an advanced World in all areas.
                    </p>
                </div>

            </div>
        </div>
    </section>
