{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main-section vn-hireme package-section">
        <div class="container">
            <div class="row justify-content-center package-title py-5">
                <h1>Wireless and Microwave services any place in the Country</h1>
                <h6>Dedicated and shared bandwidth via Wireless and Microwave Internet access up to 100Mbps for your Home and Enterprise usages.</h6>
            </div>
            <div class="row justify-content-center package-title">
                <span class="mr-2"><a href="{% url 'index_view_url' %}">Home <i class="ion-ios-arrow-forward"></i></a></span>
                <span class="mr-2"><a href="#">Wireless Services </a></span>
            </div>
            
            
            <div class="row justify-content-center">
                {% if packages %}
                {% for package in packages %}
                <div class="col-md-3 text-center package">
                    <h3>{{ package.price }}</h3>
                    <h2>{{ package.name }}</h2>
                    <ul>
                        <li><h6>{{ package.package_speed }}</h6></li>
                        <li><h6>24 Hours</h6></li>
                        <li><h6>{{ package.validity }}</h6></li>
                        <li><h6>{{ package.package_category }}</h6></li>
                    </ul>

                </div>
                {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </section>
{% endblock %}
